  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  .App {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
  }
  
  .SpinVisible {
    display: block;
    width: 100px;
    height: 100px;
  }
  
  .SpinInvisible {
    display: none;
  }
  